.h{

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px; /* Adjust the width as needed */

} 
/* Style the form container*/
form {
  margin: 20px 0;
}

/* Style the label elements */
form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/* Style the input fields */
form input[type="number"] {
  width: 100px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the submit button */
form button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; /* Adjust the width as needed */
 
}

form button:hover {
  background-color: #45a049;
}

/* Centering the form in the container */
form div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; /* Adjust the width as needed */
}
